/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: auto;
  height: auto;
  display: block;
}
/* /RESET */

/* UTILTIY */
.cursor_pointer {
  cursor: pointer;
}

.offscreen {
  position: absolute !important;
  left: -9000px !important;
}
/* /UTILTIY */

/* VARIABLES */
:root {
  /* FONT*/
  --NAVBAR-FONT-SIZE: 1.25rem;
  --H1-SIZE: 2rem;

  /* INPUTS */
  --LABEL-INPUT-GAP: 0.25rem;
  --FLEX-GAP: 1rem;
  --FLEX-BTN-GAP: 0.5rem;

  /* BORDER */
  --BORDER-GEN: 1px black solid;
  --BORDER-BTN-GEN: 1px black solid;
  --BORDER-RAD: 25px;
  --BORDER-NAVLINK-RAD: 12px;
  --BORDER-BUTTON-RAD: 5px;

  /* PADDING */
  --PADDING-GEN: 1rem;
  --PADDING-BTN-GEN: 0.25rem;
  --PADDING-NAVLINK-GEN: 0.5rem;
  --PADDING-TABLE: 0.25rem;
  --PADDING-FORM-INPUT: 0.25rem;

  /* COLOURS */
  --NAVBAR-COLOR: #191D32;
  --NAVBAR-TEXT-COLOR: #fff;
  --NARVAR-TEXT-COLOR-HOVER: #6D3B47;
  --NARVAR-TEXT-COLOR-ACTIVE: #8A6F78;
  --LIGHT-H1-FONT-COLOR: #fff;
  --LIGHT-TEXT-FONT-COLOR: #f4f1f1;
  --LIGHT-TEXT-BTN-COLOR: #f4f1f1;
  --BG-COLOR: #282F44;
  --CONTAINER-COLOR: #453A49;
  --CONFIRM-BTN-COLOR: #62d75f;
  --CONFIRM-BTN-COLOR-HOVER: #34c230;
  --SUBMIT-TEXT-ERR-COLOR: red;
  --SUBMIT-TEXT-SUCC-COLOR: green;
  --NAVLINK-BG-COLOR: #8A6F78;
  --NAVLINK-BG-COLOR-HOVER: #6D3B47;
  --TABLE-HEADER-BG-COLOR: #8A6F78;
  --TABLE-BG-COLOR: #A7A2A9;
  --INPUT-BG-COLOR: #fff;
  --INPUT-BG-COLOR-DISABLED: #A7A2A9;
  --DEL-BTN-COLOR: #ff7b7b;
  --DEL-BTN-COLOR-HOVER: #ff5252;
  --RESTRICTED-COLOR: #ff5252;

  /* LETTERS */
  --LETTER-SPACING: 0.1rem;
  --FONT-FAMILY: sans-serif, 'Segoe UI', Tahoma, Geneva, Verdana;
}
/* /VARIABLES */

/* GENERAL */
html {
  font-size: 1rem;
  font-family: var(--FONT-FAMILY);
  letter-spacing: var(--LETTER-SPACING);
}

body {
  width: 100%;
  height: 100vh;
  background-color: var(--BG-COLOR);

  /* background-image: url('/samuel-girven-fqMu99l8sqo-unsplash.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed; */
}

#root {
  height: 100%;
}

.App {
  min-width: 100vw;
  min-height: 100vh;
  width: 100%;
  height: 100%;
  display: flex;
}


.refetch-btn {
  border: var(--BORDER-BTN-GEN);
  border-radius: var(--BORDER-BUTTON-RAD);
  width: fit-content;
  padding: var(--PADDING-BTN-GEN);
}
/* /GENERAL */

/* Landing */
.landing {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: var(--BG-COLOR);
}

.landing-banner__div {
  max-height: fit-content;
  background-color: var(--NAVBAR-COLOR);
  padding: var(--PADDING-GEN);
}

.landing__h1 {
  font-size: var(--H1-SIZE);
  color: var(--LIGHT-H1-FONT-COLOR);
}
/* /Landing */

/* NAVBAR */
.navbar {
  background-color: var(--NAVBAR-COLOR);
  padding: var(--PADDING-GEN);
  display: flex;
  justify-content: space-between;
}

.navbar__right-div {
  display: flex;
  gap: var(--FLEX-GAP);
}

.navbar__nav-link {
  font-size: var(--NAVBAR-FONT-SIZE);
  color: var(--NAVBAR-TEXT-COLOR);
  text-decoration: none;
}

.navbar__nav-link:hover {
  color: var(--NARVAR-TEXT-COLOR-HOVER);
}

.navbar-home {
  font-size: var(--H1-SIZE);
}

.navbar__nav-link.active {
  color: var(--NARVAR-TEXT-COLOR-ACTIVE)
}
/* /NAVBAR */

/* form-input */
.form-input {
  display: flex;
  flex-direction: column;
  gap: var(--LABEL-INPUT-GAP);
  width: 100%;
  height: 100%;
}

.form-input__label {
  color: var(--LIGHT-TEXT-FONT-COLOR);
}

.form-input__div {
  display: flex;
  width: 100%;
}

.form-input__div__input {
  border: none;
  padding: var(--PADDING-FORM-INPUT);
  background-color: var(--INPUT-BG-COLOR);
  width: 100%;
}

.form-input__div__input:disabled {
  background-color: var(--INPUT-BG-COLOR-DISABLED);
  /* background-color: transparent; */
  color: black;
}
/* /form-input */

/* role drop down */
.role-drop-down {
  display: flex;
  align-items: center;
}

.role-drop-down__label {
  color: var(--LIGHT-TEXT-FONT-COLOR);
}

.role-drop-down__select {
  padding: var(--PADDING-FORM-INPUT);
  background-color: var(--INPUT-BG-COLOR);
  color: black;
}

.role-drop-down__select:disabled {
  background-color: var(--INPUT-BG-COLOR-DISABLED);
}
/* /role drop down */

/* layout__content */
.layout__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100vw;
  max-height: 100vh;
  width: 100%;
  height: 100%;
  padding: var(--PADDING-GEN);
}
/* /layout__content */

/* login */
.login {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.login__form {
  border: var(--BORDER-GEN);
  border-radius: var(--BORDER-RAD);
  padding: var(--PADDING-GEN);
  display: flex;
  flex-direction: column;
  gap: var(--FLEX-GAP);
  background-color: var(--CONTAINER-COLOR);
}

.login__form h1 {
  color: var(--LIGHT-H1-FONT-COLOR);
}

.login__form__password {
  display: flex;
}

.login__btn {
  border: none;
  border-radius: var(--BORDER-BUTTON-RAD);
  padding: var(--PADDING-BTN-GEN);
  background-color: var(--CONFIRM-BTN-COLOR);
  color: var(--LIGHT-TEXT-BTN-COLOR);
}

.login__btn:hover{
  background-color: var(--CONFIRM-BTN-COLOR-HOVER);
}

.login__msg-p-error {
  color: var(--SUBMIT-TEXT-ERR-COLOR);
}

.login__msg-p-succ {
  color: var(--SUBMIT-TEXT-SUCC-COLOR);
}
/* /login */

/* Log out */
.logout-btn {
  padding: var(--PADDING-BTN-GEN);
}
/* /Log out */

/* Show password */
.show-password__button {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* /Show password */

/* update temp password */
.update-temp-pass__OTP-form {
  border: var(--BORDER-GEN);
  border-radius: var(--BORDER-RAD);
  padding: var(--PADDING-GEN);
  display: flex;
  flex-direction: column;
  gap: var(--FLEX-GAP);
  background-color: var(--CONTAINER-COLOR);
}

.update-temp-pass__OTP-form__h1 {
  color: var(--LIGHT-H1-FONT-COLOR);
}

.update-temp-password__submit-btn {
  border: none;
  border-radius: var(--BORDER-RAD);
  padding: var(--PADDING-BTN-GEN);
  background-color: var(--CONFIRM-BTN-COLOR);
  color: var(--LIGHT-TEXT-BTN-COLOR);
}

.update-temp-password__submit-btn:hover{
  background-color: var(--CONFIRM-BTN-COLOR-HOVER);
}

.update-temp-password__msg-p-error {
  color: var(--SUBMIT-TEXT-ERR-COLOR);
}

.update-temp-password__msg-p-succ {
  color: var(--SUBMIT-TEXT-SUCC-COLOR);
}
/* update temp password */

/* USER HOME */
.user-home {
  display: flex;
  flex-direction: column;
  gap: var(--FLEX-GAP);
}

.user-home__h1 {
  font-size: var(--H1-SIZE);
  color: var(--LIGHT-H1-FONT-COLOR);
}
/* /USER HOME */

/* ADMIN HOME */
.admin-home {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: var(--FLEX-GAP);
}

.admin-home__h1 {
  font-size: var(--H1-SIZE);
  color: var(--LIGHT-H1-FONT-COLOR)
}

.admin-home__nav-link {
  width: fit-content;
  text-decoration: none;
  border: var(--BORDER-GEN);
  border-radius: var(--BORDER-NAVLINK-RAD);
  padding: var(--PADDING-NAVLINK-GEN);
  color: var(--NAVBAR-TEXT-COLOR);
  background-color: var(--NAVLINK-BG-COLOR);
}

.admin-home__nav-link:hover {
  background-color: var(--NAVLINK-BG-COLOR-HOVER);
}
/* /ADMIN HOME */

/* manage users */
.users {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--FLEX-GAP);
  border: var(--BORDER-GEN);
  border-radius: var(--BORDER-RAD);
  background-color: var(--CONTAINER-COLOR);
  padding: var(--PADDING-GEN);
}

.users__h1 {
  font-size: var(--H1-SIZE);
  color: var(--LIGHT-H1-FONT-COLOR);
}

.users__register-btn {
  background-color: var(--CONFIRM-BTN-COLOR);
  border: var(--BORDER-BTN-GEN);
  border-radius: var(--BORDER-BUTTON-RAD);
  padding: var(--PADDING-BTN-GEN);
  width: fit-content;
}

.users__register-btn:hover {
  background-color: var(--CONFIRM-BTN-COLOR-HOVER);
}

.users-table__section {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--FLEX-GAP);
}

.users-table__header-tr-th, .users-row__tr-td {
  overflow-wrap: break-word
}

.users-table, .users-table__header-tr-th, .users-row__tr-td {
  border: 1px solid black; /* Creates the visible lines */
  border-collapse: collapse; /* Merges double borders into a single grid line */
  padding: var(--PADDING-TABLE);
}

.users-table {
  width: 100%;
  height: 100%;
  background-color: var(--TABLE-BG-COLOR);
}

.users-table__header-tr-th {
  background-color: var(--TABLE-HEADER-BG-COLOR);
  text-align: left;
}

.users-row__view-link {
  text-decoration: none;
  display: flex;
  justify-content: center;
  background-color: var(--NAVBAR-TEXT-COLOR);
  color: black;
}

.users-row__view-link:hover {
  background-color: var(--NARVAR-TEXT-COLOR-HOVER);
}

.user-page__form__editing-restricted-p {
  color: var(--RESTRICTED-COLOR);
}
/* /manage users */

/* user page */
.user-page {
  width: fit-content;
  min-width: 500px;
  height: fit-content;
  border: var(--BORDER-GEN);
  border-radius: var(--BORDER-RAD);
  background-color: var(--CONTAINER-COLOR);
  padding: var(--PADDING-GEN);
  display: flex;
  flex-direction: column;
  gap: var(--FLEX-GAP);
}

.user-page__navlink-back {
  text-decoration: none;
  border: var(--BORDER-RAD);
  border-radius: var(--BORDER-NAVLINK-RAD);
  background-color: var(--NAVLINK-BG-COLOR);
  padding: var(--PADDING-NAVLINK-GEN);
  color: var(--NAVBAR-TEXT-COLOR);
  width: fit-content;
}

.user-page__navlink-back:hover {
  background-color: var(--NAVLINK-BG-COLOR-HOVER);
}

.user-page__h1 {
  font-size: var(--H1-SIZE);
  color: var(--LIGHT-H1-FONT-COLOR);
}

.user-page__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--FLEX-GAP);
  padding: var(--PADDING-GEN);

}

.user-edit-options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--FLEX-GAP);
  width: fit-content;
}

.user-edit-options__editing-div__edit-btn {
  padding: var(--PADDING-BTN-GEN);
  border: var(--BORDER-BTN-GEN);
  border-radius: var(--BORDER-BUTTON-RAD);
}

.user-edit-options__editing-div {
  display: flex;
  gap: var(--FLEX-BTN-GAP);
}

.user-edit-options__editing-div__cancel-btn {
  padding: var(--PADDING-BTN-GEN);
  border: var(--BORDER-BTN-GEN);
  border-radius: var(--BORDER-BUTTON-RAD);
}

.user-edit-options__editing-div__update-btn {
  padding: var(--PADDING-BTN-GEN);
  border: var(--BORDER-BTN-GEN);
  border-radius: var(--BORDER-BUTTON-RAD);
  background-color: var(--CONFIRM-BTN-COLOR);
}

.user-edit-options__editing-div__update-btn:hover {
  background-color: var(--CONFIRM-BTN-COLOR-HOVER);
}

.user-edit-options__assign-cameras-btn {
  padding: var(--PADDING-BTN-GEN);
  border: var(--BORDER-BTN-GEN);
  border-radius: var(--BORDER-BUTTON-RAD);
}

.user-edit-options__del-btn {
  padding: var(--PADDING-BTN-GEN);
  border: var(--BORDER-BTN-GEN);
  border-radius: var(--BORDER-BUTTON-RAD);
  background-color: var(--DEL-BTN-COLOR);
}

.user-edit-options__del-btn:hover {
  background-color: var(--DEL-BTN-COLOR-HOVER);
}

.update-user__p-error {
  color: var(--SUBMIT-TEXT-ERR-COLOR);
}

.update-user__p-succ {
  color: var(--SUBMIT-TEXT-SUCC-COLOR);
}
/* /user page */

/* camera-assigned */
.camera-assigned {
  display: flex;
  flex-direction: column;
  gap: var(--FLEX-GAP);
  border: var(--BORDER-GEN);
  border-radius: var(--BORDER-RAD);
  background-color: var(--CONTAINER-COLOR);
  padding: var(--PADDING-GEN);
}

.camera-assigned__h1 {
  color: var(--LIGHT-TEXT-FONT-COLOR);
}

.camera-assigned__p {
  color: var(--LIGHT-TEXT-FONT-COLOR);
}
/* /camera-assigned */

/* Modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.5);

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 1000;
}

.modal-content {
  border: var(--BORDER-GEN);
  border-radius: var(--BORDER-RAD);
  background: var(--CONTAINER-COLOR);
  padding: var(--PADDING-GEN);
  display: flex;
  flex-direction: column;
  gap: var(--FLEX-GAP);
  
}

.modal__close-btn {
  width: fit-content;
  padding: var(--PADDING-BTN-GEN);
}
/* /Modal */

/* register modal form */
.regiser__form {
  display: flex;
  flex-direction: column;
  gap: var(--FLEX-GAP);
}

.register__form__h1 {
  font-size: var(--H1-SIZE);
  color: var(--LIGHT-H1-FONT-COLOR)
}

.register__form__div-btns {
  display: flex;
  justify-content: center;
}

.register__form__submit-btn {
  width: fit-content;
  border: var(--BORDER-BTN-GEN);
  border-radius: var(--BORDER-BUTTON-RAD);
  padding: var(--PADDING-BTN-GEN);
  background-color: var(--CONFIRM-BTN-COLOR);
}

.register__form__submit-btn:hover {
  background-color: var(--CONFIRM-BTN-COLOR-HOVER);
}

.register__form__p-error {
  color: var(--SUBMIT-TEXT-ERR-COLOR);
}

.register__form__p-succ {
  color: var(--SUBMIT-TEXT-SUCC-COLOR);
}
/* /register modal form */

/* LOADER */
.loading__div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 25px;
  height: 25px;
  animation: loader-spin 2s linear infinite;
}

@keyframes loader-spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/* /LOADER */